.body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
  }

.container {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
}

.title {
    font-size: 28px;
    margin-bottom: 15px;
    color: #333;
}

.info {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
    text-align: left;
}

h2 { text-align: left; }

.errorMessage {
    color: #f00;
    font-size: 20px;
    text-align: center;
}

.coverImageContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

.coverImage {
    max-width: 100%;
    height: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}